@charset "UTF-8";

body {
	position: relative;
	border: solid;
	height: 2000px;
}

h1 {
	text-align: center;
}

a {
	border: solid;
	border-width: 1px;
	padding: 10px;
	text-decoration: none;
	background: silver;
	color: black;
	margin: 50px;
}

.login{
	position: absolute;
	right: 300px;
	
}

.registration {
	position: absolute;
	right: 100px;
	
}

.pic {
	position: absolute;
	width: 700px;
	height: 400px;
	left: 400px;
}

.travel {
	position: absolute;
	width: 200px;
	height: 100px;
	margin-top: 500px;
	left: 450px;
}

.trip {
	position: absolute;
	width: 200px;
	height: 100px;
	left: 650px;
	margin-top: 500px;
}

.cafe {
	position: absolute;
	width: 200px;
	height: 100px;
	left: 850px;
	margin-top: 500px;
}

//*
div.login {
	position: absolute;
	width: 80px;
	margin-top: 30px;
	left: 30px;
	background: tomato;
	
}

a {
	text-decoration: none;
	display: inline-block;
	
}

div.pickup {
	position: absolute;
	border: solid;
	margin-top: 200px;
	left: 30px;
}

div.all {
	position: absolute;
	display: inline-block;
	clear: both;
}

.pic {
	position: absolute;
	width: 200px;
	height: 200px;
	border: solid;
	border-width: 1px;
	margin-top: 300px;
	left: 30px;
}

.photo {
	position: absolute;
	width: 200px;
	height: 200px;
	left: 330px;
	border: solid;
	border-width: 1px;
	margin-top: 300px;
}

.ameba {
	position: absolute;
	width: 200px;
	height: 200px;
	left: 630px;
	border: solid;
	border-width: 1px;
	margin-top: 300px;
}
*/
