@charset "UTF-8";

body {
	position: relative;
	border: solid;
	height: 1000px;
}

h1 {
	text-align: center;
}

div.login {
	position: absolute;
	width: 80px;
	margin-top: 30px;
	left: 30px;
	background: tomato;
	
}

a {
	text-decoration: none;
	display: inline-block;
	
}

div.pickup {
	position: absolute;
	border: solid;
	margin-top: 200px;
	left: 30px;
}

div.all {
	position: absolute;
	display: inline-block;
	clear: both;
}

.pic {
	position: absolute;
	width: 200px;
	height: 200px;
	border: solid;
	border-width: 1px;
	margin-top: 300px;
	left: 30px;
}

.photo {
	position: absolute;
	width: 200px;
	height: 200px;
	left: 330px;
	border: solid;
	border-width: 1px;
	margin-top: 300px;
}

.ameba {
	position: absolute;
	width: 200px;
	height: 200px;
	left: 630px;
	border: solid;
	border-width: 1px;
	margin-top: 300px;
}
