@charset "UTF-8";

body {
	position: relative;
	height: 1000px;
}

*:focus {
outline: none;
}

h1 {
	text-align: center;
}

.login {
	border: solid;
	border-width: 1px;
	padding: 10px;
	text-decoration: none;
	background: silver;
	color: black;
	margin: 50px;
	
}

.registration {
	border: solid;
	border-width: 1px;
	padding: 10px;
	text-decoration: none;
	background: silver;
	color: black;
	margin: 50px;
}


.login{
	position: absolute;
	right: 220px;
	
}

.registration {
	position: absolute;
	right: 100px;
	
}

.slick-list {
	width: 700px;
	height: 500px;
	margin-top: 80px;
}

.slider {
	display: inline-block;
	width: 800px;
	height: 550px;
	margin-top: 80px;
	left: 250px;
}

.kv {
	display: inline-block;
	left: 300px;
	margin-top: 50px;
	margin right: auto;
	margin-left: auto;
}

.pic {
	width: 700px;
	height: 550px;
	left: 500px;
	margin-top: 100px;
	margin:0px;
	margin-right: -100px;
}

.travel {
	width: 700px;
	height: 400px;
	margin-top: 100px;
	left: 350px;
		background-color: red;

}

.trip {
	width: 700px;
	height: 400px;
	left: 350px;
	margin-top: 100px;
}

.cafe {
	width: 700px;
	height: 400px;
	left: 350px;
	margin-top: 100px;
}

ul {
	width: 85%;
	margin: 0 auto;
}

li img {
	width: 100%;
	height: auto;
}

.list {
	position: absolute;
	display: inline-block;
	right: 100px;
	margin-top: 650px;
	border: solid;
	b
}


a {
	text-decoration: none;
	text-align: center;
	color: black;
}





